/* Global */

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

h1 {
  font-size: 56px;
  font-weight: 700;
}

h2 {
  font-size: 36px;
  font-weight: 700;
}

h3 {
  font-size: 20px;
  font-weight: 500;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
}

button {
  font-family: inherit;
}

/* Header */

.logo {
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-accent {
  color: #2e2f42;
}

.nav-link {
  color: #2e2f42;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.contacts {
  font-style: normal;
  letter-spacing: 0.02em
}

.address-box {
  line-height: 1.5;
  letter-spacing: 0.02;
  color: #2e2f42;
  color: #434455;
}

.address-box:hover,
.address-box:focus {
  color: #404bbf;
}

/* Hero-section */

.hero-section {
background-color:#2e2f42;
}

.hero-title {
  color: #fff;
  text-align: center;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.hero-button {
  
  color: #ffffff;
  cursor: pointer;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
  
}

Adventure section 


.advantage-title{
  line-height: 1.2;
  
}
.advantage-item-title {
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.advantage-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Team section */

.team-section {
  background-color: #f4f4fd;
}


.team-section-title {
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  text-align: center;
  
}
.team-section-item{
background-color: #FFFFFF
}

.team-name {
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
 
}


.team-section-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Portfolio section */

.portfolio-title {
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.portfolio-item-title {
  color: #2e2f42;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.portfolio-list-title{
  line-height: 1.2;
  letter-spacing: 0.02em;
  color:#2e2f42 ;
}
.portfolio-list-text {
  letter-spacing: 0.02em;
  line-height: 1.5;
}

/* Footer section */

.footer {
  background-color: #2e2f42;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.footer-logo-accent {
  color: #f4f4fd;
}

.footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
